.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #464648;
}

.section {
  width: 100%;
}

.titleBar {
  background-color: #EED345;
  width: 70%;
  top: 64px;
  position: absolute;
}

.titleText {
  color: #FFF;
  font-size: 104px;
  text-align: center;
}

.bottomBar {
  background-color: #EED345;
  width: 80%;
  height: 12px;
  bottom: 32px;
  position: relative;
}

.infoSection {
  background-color: #DAD9D9;
  margin-top: -12px;
  padding: 36px 0px 36px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  padding: 40px;
}

.infoTitle {
  color: #EAB42C;
  font-size: 28px;
  margin-bottom: 20px;
}

.infoText {
  color: #464648;
  font-size: 16px;
  white-space: pre-line;
}

.infoBox {
  background-color: #EED345;
  padding: 40px;
  max-width: 40%;
  display: flex;
  align-items: center;
}

.infoBoxText {
  color: #464648;
  font-size: 16px;
  white-space: pre-line;
}

.mapSection {
  background-color: #464648;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
}

.label {
  width: 100%;
  background-color: #EED345;
  padding: 40px;
}

.labelText {
  color: #000;
  font-size: 14px;
}

.chartContainer {
  width: 100%;
  min-height: 500px;
}

.barChartContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.barChartColumn {
  width: 16.66%;
  background-color: #DAD9D9;
}

.barChartBlock1 {

}

.barChartBlock2 {

}

.barChartColumn:hover {
  background-color: #EAB42C;
  cursor: pointer;
}

.borderBottom1 {
  width: 100%;
  height: 8px;
  transform: skew(0deg);
  background: #EAB42C;
}

.borderBottom2 {
  width: 100%;
  height: 8px;
  transform: skew(45deg);
  background: #EAB42C;
}

.borderBottom3 {
  width: 8px;
  transform: skew(180deg);
  background: #EAB42C;
}

.chartInfo {
  padding: 24px 64px 24px 64px;
  margin-bottom: 80px;
}

.chartTitle {
  color: #EED345;
  font-size: 28px;
  margin-bottom: 20px;
}

.chartText {
  color: #F9F7EA;
  font-size: 14px;
  white-space: pre-line;
}