.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #464648;
}

.section {
  width: 100%;
}

.titleBar {
  background-color: #EED345;
  width: 70%;
  top: 64px;
  position: absolute;
}

.titleText {
  color: #FFF;
  font-size: 104px;
  text-align: center;
}

.bottomBar {
  background-color: #EED345;
  width: 80%;
  height: 12px;
  bottom: 32px;
  position: relative;
}

.introductionSection {
  background-color: #DAD9D9;
  padding: 24px 64px 0px 64px;
  margin-top: -12px;
}

.infoSection {
  background-color: #DAD9D9;
  padding: 36px 0px 0px 24px;
}

.infoSection1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info {
  padding: 40px 40px 0px 40px;
}

.infoTitle {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-decoration: underline #EAB42C;
  text-underline-offset: 10px;
}

.infoTitleWarning {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-decoration: underline #FFF;
  text-underline-offset: 10px;
}

.infoText {
  color: #464648;
  font-size: 14px;
  white-space: pre-line;
}

.infoBox {
  background-color: #EED345;
  padding: 40px;
  max-width: 40%;
  align-items: center;
}

.infoImageSection {
  background-color: #DAD9D9;
}

.mapSection {
  background-color: #464648;
  padding: 64px;
}

.label {
  width: 100%;
  background-color: #464648;
}

.labelText {
  color: #DAD9D9;
  font-size: 14px;
  white-space: pre-line;
  padding: 40px 64px 64px 64px
}

.bottomBar2 {
  background-color: #EED345;
  width: 80%;
  height: 12px;
  bottom: 28px;
  position: relative;
}

.textSection {
  background-color: #D9D9D9;
  padding-bottom: 64px;
}

.chartContainer {
  width: 100%;
  min-height: 500px;
}
