.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  background-color: #343433;
}

.titleBar {
  background-color: #0149B7;
  width: 100%;
  margin-top: 48px;
}

.titleText {
  color: #FFF;
  font-size: 96px;
  text-align: center;
}

.content {
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.molImages {
  min-width: 60%;
}

.modalBar {
  background-color: #0149B7;
  min-width: 20%;
  max-width: 520px;
  margin-top: 80px;
  margin-bottom: 80px;
  right: 0;
  padding: 24px 16px 24px 64px;
}

.modalText {
  color: #FFF;
  white-space: pre-line;
}

.descriptionBar {
  width: 100%;
  background: rgb(222,216,203);
  background: linear-gradient(90deg, rgba(222,216,203,1) 0%, rgba(232,230,217,1) 50%, rgba(253,251,238,1) 100%);
  padding: 32px 64px;
}

.descriptionText {
  color: #000;
}

.svgContainer {
  width: 683px;
  height: 973px;
  margin-bottom: 64px;
}

.mapContainer { 
  height: 600px;
  width: 100%;
}

.chartContainer {
  width: 100%;
  min-height: 500px;
}

.barChartContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.barChartColumn {
  width: 16.66%;
  background-color: #0149B7;
}

.path {
  fill: #AD0101;
  cursor: pointer;
}

.path:hover {
  fill: purple;
  stroke: #000;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.regiao1 {
  
}

.regiao2 {
  
}

.regiao3 {
  
}

.regiao4 {
  
}

.regiao5 {
  
}

.regiao6 {
  
}

.barChartBlock1 {

}

.barChartBlock2 {

}

.barChartColumn:hover {
  background-color: #02183D;
  cursor: pointer;
}

.borderBottom1 {
  width: 100%;
  height: 8px;
  transform: skew(0deg);
  background: #02183D;
}

.borderBottom2 {
  width: 100%;
  height: 8px;
  transform: skew(45deg);
  background: #02183D;
}

.borderBottom3 {
  width: 8px;
  transform: skew(180deg);
  background: #02183D;
}

.chartText {
  color: #FFF;
  margin-top: 40px;
  padding: 24px 64px 24px 64px;
  white-space: pre-line;
}