.title {
  color: #EAB42C;
  font-size: 28px;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-decoration: underline #000;
  text-underline-offset: 10px;
}

.text {
  color: #D9D9D9;
  font-size: 14px;
  white-space: pre-line;
}

.SVGContainer {
  margin-top: 64px;
  width: 100%;
  height: 859px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.path {
  fill: #b7b7b7;
  cursor: pointer;
  stroke-width: 0px;
}

.path:hover {
  fill: purple;
  stroke: #000;
  stroke-width: 3px;
  transition: fill 0.4s;
}

.park {
  opacity: 0.8;
}

.cyclePath {
  fill: none;
  stroke: #efd345;
  stroke-miterlimit: 10;
}

.checkBoxContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 64px;
}

.checkBox {
  cursor: pointer;
  margin-right: 12px;
  outline: #EED345 !important;
}

.formCheckInput:checked {
  background-color: #EED345 !important;
  border-color: #EED345 !important;
}

.formCheckInput:focus {
  border-color: #efd345 !important;
  box-shadow: 0 0 0 .25rem rgba(239, 211, 69, 0.25) !important;
  ;
}

.checkBoxLabel {
  cursor: pointer;
  color: #F9F7EA;
}