.container {
  background-color: #EED345;
  padding: 24px 64px 40px 64px;
}

.gif {
  float: right;
  margin-left: 40px;
  margin-top: 80px;
}

.title {
  color: #000;
  font-size: 28px;
  margin-bottom: 20px;
  padding: 10px 0px;
  text-decoration: underline #FFF;
  text-underline-offset: 10px;
}

.text {
  color: #464648;
  font-size: 14px;
  white-space: pre-line;
}